
*{
    margin: 0;
    padding: 0;
}


div{
    height:1000px;
    width: auto;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
    background-image: linear-gradient(180deg ,rgba(100, 10, 20, 0.8), rgba(100, 100, 2, 0.8) ), url(./img/background-dimension-3d-graphic-message-board-for-text-and-message-design-line-shadow-for-modern-web-design-free-vector.jpg) ;
   
}
